div.chat #commentsModal{
  background-color: #ccc;
  width: 75% !important;
}

div.chat .chat-client{
}

.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

.chat-bubble {
	margin: 15px;
  display: inline-block;
  position: relative;
	min-width: 500px;
  min-height: 75px;
	height: auto;
  background-color: white;
}

.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent white;
  z-index: -1;
}

.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 0px;
	bottom: -20px;
	border: 22px solid;
	border-color: white white transparent transparent;
  z-index: -1;
}

.btm-right.chat-text p{
  text-align: right;
}

.chat-text{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.chat-text p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  color: black;
}

.chat-client-photo{
  width: 50px;
  height: 50px;
  vertical-align: middle;
  background-color: blue;
  text-align: center;
  border-radius: 50%;
  float:left;
  margin-right: 15px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  padding-top: inherit;
}

.chat-photographer-photo{
  width: 50px;
  height: 50px;
  vertical-align: middle;
  background-color: blue;
  text-align: center;
  border-radius: 50%;
  float:right;
  margin-left: 15px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  padding-top: inherit;
}

.chat-footer{
  clear: both;
  position: sticky;
  bottom: 0;
}

.chat-name{
  display: block;
  font-weight: bolder;
  color: black;
}
.chat-date{
  display: block;
  font-size: 10px;
  color: #ccc;
}
.chat-title{
  color: #555;
  font-style: italic;
}
.message-bubble{
  display: flow-root;
}
