html{
  /*background-image: url('../img/bg.png');*/
  background-color: #8c8c8c;
  color: #eeeeee;
}

.nav-wrapper{
  background-color: #2b2b2b;
  padding: 0 3.5rem !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  height: 70px;
}

.sidenav-wrapper{
  background-color: #5c5c5c;
  height: 100%;
  width: 240px;
}

.foto-logo{
  width: 125px;
  height: 125px;
  margin-top: 20px;
}

.bolder{
  font-weight: bolder;
}

.clickable{
  cursor: pointer;
}

.ico-btn{
  width: 1.8rem !important;
  margin-right: 1rem;
  margin-top: .8rem;
  width: 6em;
}

.btn-side-menu a{
  width: 200px;
}

#slideout {
  position: fixed;
  top: 70px;
  left: 0px;
  width: 240px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  z-index: 10 !important;
}
#slideout.on {
  left: -250px;
}

@media only screen and (max-width: 1200px){
  .btn-side-menu a{
    width: 180px;
  }
  .btn-side-menu a span{
    font-size: 12px;
  }
  .sidenav-wrapper{
    width: 210px;
  }
  #slideout{
    width: 210px;
  }
}
@media only screen and (max-width: 996px){
  .btn-side-menu a{
    width: 75px;
  }
  .btn-side-menu a span{
    display: none;
  }
  .sidenav-wrapper{
    width: 110px;
  }
  #slideout{
    width: 110px;
  }
  .foto-logo{
    width: 75px;
    height: 75px;
    margin-top: 20px;
  }
}
.config-icons i{
  padding: 5px;
}

/* ========================================= SUBMENU*/
.submenu{
  height: 3rem;
  margin: -.7rem
}
.submenu div i{
  margin-top: .5rem;
}

#titleSection{
  margin-top: .6rem;
  margin-left: 12rem;
}

input:not([type]), input[type=text], input[type=password], input[type=email],
input[type=url], input[type=time], input[type=date], input[type=datetime],
input[type=datetime-local], input[type=tel], input[type=number], input[type=search],
textarea.materialize-textarea{
  color: black !important;
}

.recuar-top{
  position: absolute;
  top: -20px;
  color: black;
  cursor: pointer;
}

table#datatable thead tr th {
    font-weight: bolder;
}

.uploader{
  border-width: 2px !important;
  border-color: #9e9e9e !important;
  border-style: dotted !important;
  border-radius: 5px !important;
  border-width: 4px !important;
}
.uploader:active{
  border-color: #2bbbad !important;
}

td.library a i:hover{
  color: #2bbbad !important;
  font-size: 1.5rem !important;
}

#fileList{
  max-height: 300px;
  overflow-y: auto;
}

#nav-switch li{
  padding: 0 20px;
}

.item-switch{
  padding-left: 0 !important;
}

.assay-toast{
  background-color: #f5f5f5;
  color: black;
  top: 2rem !important;
}

.left-controll{
  border-right: 1px solid #eeeeee;
}

.top-fixed{
  top: 0;
  position: sticky;
}

.left-controll i{
  position: relative;
  top: .3rem;
}

.right-content{
  background-color: white;
}

.collection-item p {
  color: black;
  font-size: 12px;
}

.collection li:hover{
  background-color: #eee;
}
