body{
  background-color: #1b3650;
}

.fullcontent{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.white{
  padding: 5% 0;
}

.register_token_field{
  text-align: center;
}

#btn-close{
  cursor: pointer;
}

.recuo{
  text-indent: 2rem;
}

.baixar-input{
  margin-top: 1.3rem;
}

.vertical-center{
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.tabs{
  overflow-x: hidden !important;
}

.tab a{
  color: rgb(38, 166, 154) !important;
}

.tabs a:active{
  color: rgb(27, 54, 80) !important;
}
.tabs .indicator {
  background-color: rgba(27, 54, 80, 0.4);
  height: 50px;
}
.checkbox-input{
  margin-top: 30px;
}
