nav ul a,
nav .brand-logo {
  color: #E0E1E2;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  /*min-height: 540px;*/
  min-height: 90vh;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

.parallax img{
  display: block !important;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.top-logo{
  width: 7rem;
}

.top-nav{
  background-color: #1b3650;
}

.container.home{
  padding-top: 10%;
}

body{
  background-color: #424242;
}

div.space{
  height: 2rem;
}



/* ===================== FOOTER*/
.page-footer{
  background-color: #1b3650 !important;
}
.page-footer img{
  width: 10rem;
}
.small-ico{
  width: 3rem !important;
}
